@import url("https://fonts.googleapis.com/css?family=Inter:400,300,700,400italic");

:root{
    --font-family-inter: "Inter";
}

.principal{
    background-color: white;
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    height: 1024px;
}

.rectanguloHeader{
    align-items: flex-end;
    background-color: #009ED6;
    display: flex;
    height: 150px;
    justify-content: flex-end;
    min-width: 1440px;
}

.menu{
    text-decoration: none;
}

.textoHeader{
    color: white; 
    font-family: var(--font-family-inter);
    font-size: 80px;
    font-weight: 400;
    line-height: normal;
    min-height: 149px;
    width: 1400px;
    margin-bottom: -20px;
    text-align: center;
}

.main{
    align-items: center;
    gap: 174px;
    height: 664px;
    width: 1440px;
}

.imagen{
    height: 414px;
    margin-bottom: 1px;
    margin-top: 60px;
    margin-left: 200px;
    object-fit: cover;
    width: 473px;
    border-radius: 100px;
}

.imagenMicro{
    height: 50px;
    margin-left: 20px;
    margin-bottom: -18px;
    width: 50px;
    border-radius: 100px;
}

.formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 479px;
    width: 582px;
}

.inicioSesion{
    color: #009ED6;
    font-family: var(--font-family-inter);
    font-size: 60px;
    font-weight: 400;
    min-height: 149px;
    width: 580px;
    opacity: 100%;
    margin-top: -400px;
    margin-left: 725px;
}

.usuario{
    color: #009ED6;
    font-family: var(--font-family-inter);
    height: 36px;
    text-align: center;
    width: 200px;
    font-size: 25px;
    margin-left: 350px;
    margin-top: -10px;
}

.usuarioInput{
    width: 300px;
    height: 20px;
    border: 1px solid;
    border-color: #009ED6;
    margin-left: 56px;
    margin-top: 10px;
}

.formularioMain{
    position: inherit;
    width: 700px;
    height: 500px;
    margin-top: -430px;
    margin-left: 650px;
    opacity: 50%;
}

.password{
    color: #009ED6;
    font-family: var(--font-family-inter);
    height: 36px;
    text-align: center;
    width: 145px;
    font-size: 25px;
    margin-left: 390px;
    margin-top: 50px;
}

.passwordInput{
    width: 300px;
    height: 20px;
    border: 1px solid;
    border-color: #009ED6;
    margin-left: 16px;
    margin-top: 10px;
}

.botonEnviar{
    background-color: #009ED6;
    border: none;
    border-radius: 50px;
    height: 60px;
    left: 41px;
    height: 50px;
    width: 184px;
    margin-left: 800px;
    margin-top: 20px;
}

.mainDos{
    width: 700px;
    height: 500px;
    margin-top: -450px;
    margin-left: 600px;
}

.formulario3{
    color: #009ED6;
    font-family: var(--font-family-inter);
    font-size: 30px;
    height: 50px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 582px;
    margin-left: 80px;
    margin-top: -100px;
}

.textoVivienda{
    color: white;
    font: var(--font-family-inter);
    text-decoration: none;
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
}

.botonVivienda{
    background-color: #009ED6;
    width: 400px;
    height: 50px;
    border-radius: 40px;
    margin-top: 60px;
    margin-left: 150px;
    cursor: pointer;
}

.textoEnviar{
    color: white;
    border: none;
    background-color:#009ED6;
    border-radius: 50px;
    font-size: 25px;
    height: 39px;
    line-height: normal;
    margin-top: 120px;
    width: 262px;
    cursor: pointer;
    margin-left: 425px;
}

.datosBoton{
    color: #009ED6;
    font-family: var(--font-family-inter);
    height: 80px;
    width: 300px;
    font-size: 25px;
    margin-left: -300px;
    text-align: center;
    margin-top: 15px;
}

.datosBoton2{
    color: #009ED6;
    font-family: var(--font-family-inter);
    height: 80px;
    width: 300px;
    font-size: 25px;
    margin-left: 300px;
    text-align: center;
    margin-top: 15px;
}

.textoInformacion{
    font-size: 20px;
    padding-bottom: 15px;
    margin-left: 50px;
    font-family:var(--font-family-inter);
    font-style: italic;
    border: 2px solid;
    border-color: grey;
    text-align: center;
    padding: 10px;
}

.main2{
    align-items: center;
    gap: 174px;
    height: 479px;
    margin-left: 31px;
    min-width: 1229px;
}

.datos{
    color: black;
    font-family: var(--font-family-inter);
    height: 36px;
    width: 300px;
    font-size: 25px;
    margin-left: 300px;
    text-align: center;
    margin-top: 15px;
}

.datosTabla{
    color: black;
    font-family: var(--font-family-inter);
    font-size: 20px;
    margin-left: 60px;
    margin-top: 15px;
    margin-right: 550px;
    padding: 20px;
    border: 2px solid;
    border-color: grey;
}

.datosTabla2{
    color: black;
    font-family: var(--font-family-inter);
    font-size: 20px;
    margin-left: 300px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid;
    border-color: grey;
    visibility: hidden;
}

.datosSlider{
    color: #009ED6;
    font-family: var(--font-family-inter);
    height: 50px;
    width: 300px;
    font-size: 25px;
    margin-left: 300px;
}

.formulario2{
    color: #009ED6;
    font-family: var(--font-family-inter);
    font-size: 40px;
    height: 50px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    margin-left: 80px;
}

.legendUno{
    color: #009ED6;
    font-family: var(--font-family-inter);
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 300px;
}

.labelUno{
    color:black;
    font-size: 20px;
    margin-left: 10px;
}

.radioUno{
    margin-left: 300px;
}

.resultados{
    color: #009ED6;
    font-family: var(--font-family-inter);
    margin-left: 200px;
}

tr, td, th{
    padding: 1rem;
    border: 5px solid;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 100px;
    padding: 8px 0;
    position: absolute;
    margin-left: 255px;
    margin-top: -133px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeinout 4s linear forwards;
    animation: fadeinout 3s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.table{
    margin-left: 1000px;
}

#mostrarDonacion{
    margin-right: 550px;
}